@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

.cityName {
	margin-top: 3rem;
	text-align: center;
}

.cityNameButton {
	display: block;
}

.form-group {
	margin-top: 1rem;
}
